.card-animado{
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    height: 520px;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    width: 350px;
}

.card-img-backgroud{
    height: 100%;
    object-fit: cover;
}

.card-animado:hover{
    box-shadow: 0 15px 25px rgba(0,0,0,0.25);
}


.card-content-reveal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    max-height: 80px;
    
    transition: max-height 0.6s ease-in-out;

    background: rgba(250,250,250,0.7);
    z-index: 10;
}

.card-header-inicial {
    padding-bottom: 0.5rem;
}

.card-body-extra{
    opacity: 0;
    transition: opacity 0.3s 0.2s ease-in-out;
}

.card-body-extra .list-group-item {
    background: rgba(250,250,250,0.4);
}

.card-animado:hover .card-content-reveal{
    max-height: 500px;
    background: rgba(250,250,250,0.5);
}

.card-animado:hover .card-body-extra {
    opacity: 1;
}

.card-content-reveal .card-body-extra .card-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}