
.filters-sidebar {
    width: 100%;
    height: 100vh; 
    padding: 15px; 
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    background-color: #fff;
    position: sticky;
    top: 0;
    font-size: 0.9em;  
}


.filters-sidebar h2 {
    color: #8c002c; 
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
}


.filter-group {
    margin-bottom: 15px;
}

.group-title {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}


.filters-sidebar hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 15px 0;
}


.pagination .page-link {
    padding: 12px 18px; 
    font-size: 1.1em; 
    margin: 0 2px; 
}

.pagination .page-item {
    margin: 0 1px; 
}

/* Aumentar tamaño de letra para labels de checkboxes y radio buttons */
.filters-sidebar .form-check-label {
    font-size: 1.1em;
}

/* Aumentar tamaño de los checkboxes y radio buttons */
.filters-sidebar .form-check-input {
    transform: scale(1.2);
}