body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #0d6efd;
  margin-bottom: 20px;
  font-weight: 600;
}

td {
  vertical-align: middle;
}

a{
  text-decoration: none;
}
